* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: radial-gradient(circle, #89f7fe, #66a6ff);
}
.main-container {
  width: 100%;
  padding: 20px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-container > h1 {
  color: #cb0e44;
}

/* Add salary */
.salary-div {
  display: flex;
  gap: 10px;
}
.salary-div > input {
  width: 250px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.salary-div > button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  border: 1px solid white;
  color: #0666ff;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Salary details */
.salary-details {
  width: 28%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  display: none;
}
.salary-details > div {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.salary-details > div > p {
  font-size: 18px;
  font-weight: 550;
}
.salary-details > div > button {
  font-size: 16px;
  padding: 7px 20px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: radial-gradient(red, yellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.salary-details > p {
  padding-left: 20px;
  font-size: 16px;
}
.salary-details > p > span {
  font-weight: 550;
}

/* Add items */
.add-expense-item {
  width: 28%;
  margin-top: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: none;
}
.add-expense-item > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.add-expense-item > div > input {
  outline: none;
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-expense-item > div > label {
  font-weight: 550;
}
.add-expense-item > div > select {
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.total-price {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-btn > button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: radial-gradient(red, yellow);
}

/* Expense details */
.expense-details{
  margin-top: 50px;
  width: 60%;
  padding: 30px 30px 60px 30px;
  border-radius: 8px;
  background-color: #f0f7ff;
  flex-direction: column;
  display: none;
}
.table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}
.table-container{
  margin-top: 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-head {
  margin-bottom: 10px;
  background-color: #394960;
  color: white;
  border: 2px solid red;
}
.table-head > tr> th {
  padding: 15px;  
  font-weight: 600;
}

/* js styling */
.table-row{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: all 0.2s ease;
}
.table-row>td{
  padding: 15px;
}
.table-row:hover{
  background-color: #81D4FA;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
