*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.inp-btn{
    margin-top: 20px;
}
.text-input{
    width: 250px;
    padding: 7px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
}
.task-btn{
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background: linear-gradient(green,gray);
}

/* JS Style */

.mainDiv{
    width: 400px;
    display: flex;
    justify-content: space-between;
}