*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.imgs-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  max-width: 100%;
}

.imgs-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
}

.bi {
  font-size: 36px;
  cursor: pointer;
}
